* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f7f7;
}
.section1 {
  height: 100vh;
  width: auto;
  /* border-radius: 70%; */
  /* background-image: radial-gradient(
    circle at center,
    red,
    green,
    rgb(0, 128, 255),
    yellow
  ); */

  /* illusion Effect with repating radial gradients */
  /* background-image: repeating-radial-gradient(
    circle,
    #000000,
    #000000 10px,
    #ffffff 10px,
    #ffffff 20px
  );
  animation: pulse 3s linear infinite; */

  background-image: repeating-radial-gradient(circle, red, orange 45px);
  box-shadow: 0px 0px 30px inset rgb(255, 255, 255);
}
