* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d0b0b;
  font-family: cursive;
  color: white;
}
.main-container {
  height: 90vh;
  width: 80%;
  border: 1px solid black;
  margin: 25px auto;
  border-radius: 1.5rem;
  position: relative;
  background: -webkit-linear-gradient(
    to bottom,
    #2d9ee0,
    #2f80ed,
    #091e3a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2d9ee0, #2f80ed, #091e3a);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.main-container p {
  text-align: center;
  color: rgb(230, 251, 4);
  font-size: 2rem;
  font-variant: small-caps;
  text-decoration: 2px underline;
  text-shadow: -2px 2px 7px rgb(56, 55, 55);
}

.child {
  width: 15.625rem;
  height: 15.625rem;
  border: 0.3px solid;
  border-radius: 1.5rem;
  text-align: center;
  padding-top: 100px;
  font-size: 1.5rem;
  font-variant: small-caps;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Z-Index Property(Check Z-Index of any Child) high value means that is first position */
.card1 {
  background: linear-gradient(to right top, #000000, #10cb10);
  z-index: 5;
}
.card2 {
  background: -webkit-linear-gradient(
    to top,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #061161, #780206);
  z-index: 2;
}
.card3 {
  background: -webkit-linear-gradient(
    to top,
    #001510,
    #00bf8f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #001510, #00bf8f);
  z-index: 3;
}
.card4 {
  background: -webkit-linear-gradient(
    to bottom,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1f1c18, #8e0e00);
  z-index: 10;
}
.card5 {
  background: -webkit-linear-gradient(
    to bottom,
    #a8eb12,
    #00bf72,
    #008793,
    #004d7a,
    #051937
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a8eb12,
    #00bf72,
    #008793,
    #004d7a,
    #051937
  );
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 9;
}
