* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.img-container {
  width: min(90%, 900px);
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  background-image: url("/assets/images/money.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  animation: carousel 14s ease-in-out infinite;
}
/* Carousel Effect  */
@keyframes carousel {
  20% {
    background-image: url("/assets/images/joker.jpg");
  }
  33% {
    background-image: url("/assets/images/moon_knight.jpg");
  }
  66% {
    background-image: url("/assets/images/red.jpg");
  }
  86% {
    background-image: url("/assets/images/win.webp");
  }
  100% {
    background-image: url("/assets/images/kartoos.jpg");
  }
}
/* This container use for containt h2 and p tag */
.overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 20px;

  color: #fff;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2),
    transparent
  );
}

.overlay h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.overlay p {
  font-size: 1rem;
}

/* For Navigation Dots */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;
}

.dots span {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: #bbb;
}

.dots .active {
  background: #fff;
  transform: scale(1.2);
}
/* Media Query for responsive layout */
@media (max-width: 600px) {
  .overlay h2 {
    font-size: 1.3rem;
  }

  .overlay p {
    font-size: 0.85rem;
  }

  .dots span {
    width: 10px;
    height: 10px;
  }
}
