* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}
.header {
  width: 100%;
  box-shadow: 0px 2px 10px #ccc;
  background-color: rgb(247, 247, 249);
  display: flex;
  justify-content: space-between;
}
.headerleft {
  width: 48%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > ul {
  display: flex;
  gap: 35px;
}
.menu > ul > li a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 525;
}
.headerright {
  width: 45%;
  display: flex;
  align-items: center;
  margin-left: 2%;
  justify-content: space-between;
}
.headerright form {
  width: 70%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.headerright form button {
  width: 10%;
  border: none;
}
.headerright form input {
  height: 30px;
  width: 90%;
  border: none;
}
.profile ul {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.profile ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  margin-right: 6px;
  font-family: cursive;
}
.offer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.itemsSection {
  width: 100%;
  margin-bottom: 60px;
  /* overflow-x: auto; */
}
.itemsSection h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 30px 0px;
  font-weight: 500;
  padding-left: 3%;
  font-size: 30px;
  letter-spacing: 1px;
  color: #282727;
}
.itemsContainer {
  width: 100%;
  display: flex;
}
.items {
  width: 17%;
  box-shadow: 5px 0px 7px #ccc;
  /* object-fit: contain; */
  /* flex: 0 0 auto; */
}
.itemsContainer img {
  width: 100%;
  object-fit: contain;
}
.footer {
  width: 100%;
  height: auto;
  background-color: #fffdfd;
  display: flex;
  gap: 40px;
  padding: 30px 0px 0px 0px;
  box-shadow: 5px 0px 10px #ccc;
}
.footerSection {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin-left: 100px;
}
.footerSection > ul > li {
  display: flex;
  justify-content: center;
  font-weight: 350px;
  margin-top: 5px;
}
.footerSection > ul {
  margin-top: 10px;
}
.footerSection > b {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  /* letter-spacing: 6px; */
  font-weight: 100px;
}
.footerSection1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.footerSection1 > b {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 100px;
}
.footerSection1 img {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.links > h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 28px;
  color: #292828;
}
.links > i {
  margin-top: 10px;
  font-size: 20px;
}
.links i:nth-of-type(1):hover {
  color: #045fd5;
}
.links i:nth-of-type(2):hover {
  color: #045fd5;
}
.links i:nth-of-type(3):hover {
  color: #f90202;
}
.links i:nth-of-type(4):hover {
  color: #ff03ab;
}
